@font-face {
  font-family: "iconfont"; /* Project id 4102320 */
  src: url('iconfont.woff2?t=1685773051052') format('woff2'),
       url('iconfont.woff?t=1685773051052') format('woff'),
       url('iconfont.ttf?t=1685773051052') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-wechatline:before {
  content: "\e626";
}

.icon-weixin:before {
  content: "\e870";
}

.icon-QQ:before {
  content: "\e641";
}

